# Configurações do Banco de Dados
DB_HOST=your_db_host
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_DATABASE=your_db_name

# Configurações do Arduino (opcional)
ARDUINO_PORT=COM6
ARDUINO_BAUDRATE=9600

# URL do Stream (pode ser webcam ou stream)
STREAM_URL=https://www.twitch.tv/gaules